# Web Scraping - Assignment 1

<br><br>

### Importing required libraries

In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\lenovo\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\lenovo\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\lenovo\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in c:\users\lenovo\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\lenovo\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\lenovo\anaconda3\lib\site-packages (from requests) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests) (2.10)

In [2]:
from bs4 import BeautifulSoup
import requests

<br><br>

## 1. Python program to display all the header tags from "en.wikipedia.org/wiki/Main_Page".

Sending request to the webpage server to get the source code of the page which has to be scraped by using the request library.

In [3]:
page_1=requests.get("https://en.wikipedia.org/wiki/Main_Page")
page_1

As response code is [200], we can go ahead and scrape the data.

Let us parse this source code by using BeautifulSoup and the parser used here is html parser as the source code is in html.

In [117]:
soup_1=BeautifulSoup(page_1.content)

<br>Extracting header tags

In [7]:
header=soup_1.find_all(['h1','h2','h3','h4','h5','h6'])

In [8]:
all_headers=[]  
for i in header:
    all_headers.append(i.text)
all_headers

['Main Page',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu',
 '\nPersonal tools\n',
 '\nNamespaces\n',
 '\nVariants\n',
 '\nViews\n',
 '\nMore\n',
 '\nSearch\n',
 '\nNavigation\n',
 '\nContribute\n',
 '\nTools\n',
 '\nPrint/export\n',
 '\nIn other projects\n',
 '\nLanguages\n']

In [9]:
all_headers=[]  
for i in header:
    all_headers.append(i.text.replace('\n', " ").replace('\xa0...', " "))
all_headers

['Main Page',
 "From today's featured article",
 'Did you know ',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu',
 ' Personal tools ',
 ' Namespaces ',
 ' Variants ',
 ' Views ',
 ' More ',
 ' Search ',
 ' Navigation ',
 ' Contribute ',
 ' Tools ',
 ' Print/export ',
 ' In other projects ',
 ' Languages ']

In [10]:
len(all_headers)

22

<br>Storing the data

In [11]:
import pandas as pd
All_headers = pd.DataFrame({})
All_headers['Header Name']=all_headers
All_headers

                      Header Name
0                       Main Page
1   From today's featured article
2                   Did you know
3                     In the news
4                     On this day
5        Today's featured picture
6        Other areas of Wikipedia
7     Wikipedia's sister projects
8             Wikipedia languages
9                 Navigation menu
10                Personal tools
11                    Namespaces
12                      Variants
13                         Views
14                          More
15                        Search
16                    Navigation
17                    Contribute
18                         Tools
19                  Print/export
20             In other projects
21                     Languages

This shows all the headers of the wiki page

<br><br><br>

# 2. Python program to display IMDB’s Top rated 100 movies’ data (i.e. Name,IMDB rating, Year of release) and saving it in form of a CSV file.

In [12]:
page2= requests.get("https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating")
page2

In [118]:
s2=BeautifulSoup(page2.content)

In [15]:
movie_name=[]
rating=[]
year=[]

In [16]:
movie_data = s2.findAll('div', attrs= {'class': 'lister-item mode-advanced'})

In [17]:
for store in movie_data:
    name = store.h3.a.text
    movie_name.append(name)
    
    
    rate = store.find('div', class_ = 'inline-block ratings-imdb-rating').text.replace('\n', '')
    rating.append(rate)
    
    year_of_release = store.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(', '').replace(')', '')
    year.append(year_of_release)

In [18]:
movie_DF = pd.DataFrame({'Name of movie': movie_name, 'Year of release': year, 'Movie Rating': rating})

In [19]:
pd.set_option('display.max_rows', None)

### converting the dataframe to csv file

In [20]:
movie_DF.to_csv('MovieRatings.csv')

In [21]:
df=pd.read_csv('MovieRatings.csv')
df

,Unnamed: 0,Name of movie,Year of release,Movie Rating
0,0,The Shawshank Redemption,1994,9.3
1,1,The Godfather,1972,9.2
2,2,The Dark Knight,2008,9.0
3,3,The Godfather: Part II,1974,9.0
4,4,12 Angry Men,1957,9.0
5,5,The Lord of the Rings: The Return of the King,2003,8.9
6,6,Pulp Fiction,1994,8.9
7,7,Schindler's List,1993,8.9
8,8,Inception,2010,8.8
9,9,Fight Club,1999,8.8
10,10,The Lord of the Rings: The Fellowship of the Ring,2001,8.8
11,11,Forrest Gump,1994,8.8
12,12,"Il buono, il brutto, il cattivo",1966,8.8
13,13,The Lord of the Rings: The Two Towers,2002,8.7
14,14,The Matrix,1999,8.7
15,15,Goodfellas,1990,8.7
16,16,Star Wars: Episode V - The Empire Strikes Back,1980,8.7
17,17,One Flew Over the Cuckoo's Nest,1975,8.7
18,18,Gisaengchung,2019,8.6
19,19,Soorarai Pottru,2020,8.6
20,20,Interstellar,2014,8.6
21,21,Cidade de Deus,2002,8.6
22,22,Sen to Chihiro no kamikakushi,2001,8.6
23,23,Saving Private Ryan,1998,8.6
24,24,The Green Mile,1999,8.6
25,25,La vita è bella,1997,8.6
26,26,Se7en,1995,8.6
27,27,The Silence of the Lambs,1991,8.6
28,28,Star Wars,1977,8.6
29,29,Seppuku,1962,8.6
30,30,Shichinin no samurai,1954,8.6
31,31,It's a Wonderful Life,1946,8.6
32,32,Hamilton,2020,8.5
33,33,Ratsasan,2018,8.5
34,34,Whiplash,2014,8.5
35,35,The Intouchables,2011,8.5
36,36,The Prestige,2006,8.5
37,37,The Departed,2006,8.5
38,38,The Pianist,2002,8.5
39,39,Gladiator,2000,8.5
40,40,American History X,1998,8.5
41,41,The Usual Suspects,1995,8.5
42,42,Léon,1994,8.5
43,43,The Lion King,1994,8.5
44,44,Terminator 2: Judgment Day,1991,8.5
45,45,Nuovo Cinema Paradiso,1988,8.5
46,46,Hotaru no haka,1988,8.5
47,47,Back to the Future,1985,8.5
48,48,Once Upon a Time in the West,1968,8.5
49,49,Psycho,1960,8.5
50,50,Casablanca,1942,8.5
51,51,Modern Times,1936,8.5
52,52,City Lights,1931,8.5
53,53,Capharnaüm,2018,8.4
54,54,Joker,2019,8.4
55,55,Ayla: The Daughter of War,2017,8.4
56,56,Vikram Vedha,2017,8.4
57,57,Kimi no na wa.,2016,8.4
58,58,Dangal,2016,8.4
59,59,Spider-Man: Into the Spider-Verse,2018,8.4
60,60,Avengers: Endgame,2019,8.4
61,61,Avengers: Infinity War,2018,8.4
62,62,Coco,I 2017,8.4
63,63,Django Unchained,2012,8.4
64,64,The Dark Knight Rises,2012,8.4
65,65,3 Idiots,2009,8.4
66,66,Taare Zameen Par,2007,8.4
67,67,WALL·E,2008,8.4
68,68,The Lives of Others,2006,8.4
69,69,Oldeuboi,2003,8.4
70,70,Memento,2000,8.4
71,71,Mononoke-hime,1997,8.4
72,72,Once Upon a Time in America,1984,8.4
73,73,Raiders of the Lost Ark,1981,8.4
74,74,The Shining,1980,8.4
75,75,Apocalypse Now,1979,8.4
76,76,Alien,1979,8.4
77,77,Tengoku to jigoku,1963,8.4
78,78,Dr. Strangelove or: How I Learned to Stop Worr...,1964,8.4
79,79,Witness for the Prosecution,1957,8.4
80,80,Paths of Glory,1957,8.4
81,81,Rear Window,1954,8.4
82,82,Sunset Blvd.,1950,8.4
83,83,The Great Dictator,1940,8.4
84,84,1917,2019,8.3
85,85,Tumbbad,2018,8.3
86,86,Drishyam,2013,8.3
87,87,Jagten,2012,8.3
88,88,Jodaeiye Nader az Simin,2011,8.3
89,89,Incendies,2010,8.3
90,90,Dara iz Jasenovca,2020,8.3
91,91,The Father,I 2020,8.3
92,92,Babam ve Oglum,2005,8.3
93,93,Inglourious Basterds,2009,8.3
94,94,Eternal Sunshine of the Spotless Mind,2004,8.3
95,95,Amélie,2001,8.3
96,96,Snatch,2000,8.3
97,97,Requiem for a Dream,2000,8.3
98,98,American Beauty,1999,8.3
99,99,Good Will Hunting,1997,8.3

The above csv file shows the top 100 movies according to IMDb ratings.

<br><br><br>

# 3. Python program to display IMDB’s Top rated 100 Indian movies’ data (i.e.Name, IMDB rating, Year of release) and saving it in form of a CSV file.

In [22]:
page3= requests.get("https://www.imdb.com/india/top-rated-indian-movies/")
page3

In [119]:
s3=BeautifulSoup(page3.content)

In [25]:
Movie_name=[]
Rating=[]
Year=[]

In [26]:
movie_Data = s3.find('tbody', {"class": 'lister-list' }).findAll("tr")

In [27]:
for store in movie_Data:
    name1 = store.find('td', class_="titleColumn").find("a").get_text()
    Movie_name.append(name1)
    
    rate1 = store.find('td', class_ = 'ratingColumn imdbRating').find("strong").get_text()
    Rating.append(rate1)
    
    year_of_release1 = store.find('span', class_ = 'secondaryInfo').text.replace('(', '').replace(')', '')
    Year.append(year_of_release1)

In [28]:
movie_df1 = pd.DataFrame({'Name of movie': Movie_name, 'Year of release': Year, 'Movie Rating': Rating})

In [29]:
pd.set_option('display.max_rows', None)

### Converting dataframe to csv file

In [30]:
movie_df1.to_csv('IndianMovieRatings.csv')

In [31]:
DF=pd.read_csv('IndianMovieRatings.csv')
DF

,Unnamed: 0,Name of movie,Year of release,Movie Rating
0,0,Pather Panchali,1955,8.5
1,1,Gol Maal,1979,8.5
2,2,Nayakan,1987,8.5
3,3,Anbe Sivam,2003,8.5
4,4,Apur Sansar,1959,8.5
5,5,Pariyerum Perumal,2018,8.4
6,6,C/o Kancharapalem,2018,8.4
7,7,Natsamrat,2016,8.4
8,8,Drishyam 2,2021,8.4
9,9,Kireedam,1989,8.4
10,10,Manichitrathazhu,1993,8.4
11,11,Black Friday,2004,8.4
12,12,Thevar Magan,1992,8.4
13,13,96,2018,8.4
14,14,Kumbalangi Nights,2019,8.4
15,15,3 Idiots,2009,8.4
16,16,Taare Zameen Par,2007,8.3
17,17,Visaaranai,2015,8.3
18,18,Dangal,2016,8.3
19,19,Ratsasan,2018,8.3
20,20,Thalapathi,1991,8.3
21,21,Aparajito,1956,8.3
22,22,Jaane Bhi Do Yaaro,1983,8.3
23,23,Pyaasa,1957,8.3
24,24,Guide,1965,8.3
25,25,Jersey,2019,8.3
26,26,Kannathil Muthamittal,2002,8.3
27,27,Chupke Chupke,1975,8.2
28,28,Asuran,2019,8.2
29,29,Kaithi,2019,8.2
30,30,Thani Oruvan,2015,8.2
31,31,Anand,1971,8.2
32,32,Vada Chennai,2018,8.2
33,33,Peranbu,2018,8.2
34,34,Drishyam,2013,8.2
35,35,Vikram Vedha,2017,8.2
36,36,Soorarai Pottru,2020,8.2
37,37,Iruvar,1997,8.2
38,38,Aruvi,2016,8.2
39,39,Khosla Ka Ghosla!,2006,8.2
40,40,Super Deluxe,2019,8.2
41,41,Agent Sai Srinivasa Athreya,2019,8.2
42,42,Tumbbad,2018,8.2
43,43,Mahanati,2018,8.2
44,44,Andhadhun,2018,8.2
45,45,Kaakkaa Muttai,2014,8.2
46,46,Premam,2015,8.2
47,47,Satya,1998,8.2
48,48,Shahid,2012,8.2
49,49,Anniyan,2005,8.2
50,50,Dhuruvangal Pathinaaru,2016,8.2
51,51,Bangalore Days,2014,8.2
52,52,Mudhalvan,1999,8.2
53,53,Papanasam,2015,8.1
54,54,Soodhu Kavvum,2013,8.1
55,55,Gangs of Wasseypur,2012,8.1
56,56,Jigarthanda,2014,8.1
57,57,Bhaag Milkha Bhaag,2013,8.1
58,58,Sairat,2016,8.1
59,59,Paan Singh Tomar,2012,8.1
60,60,Sholay,1975,8.1
61,61,"Swades: We, the People",2004,8.1
62,62,Talvar,2015,8.1
63,63,Hera Pheri,2000,8.1
64,64,Pithamagan,2003,8.1
65,65,Charulata,1964,8.1
66,66,Drishyam,2015,8.1
67,67,Nil Battey Sannata,2015,8.1
68,68,Chak De! India,2007,8.1
69,69,Black,2005,8.1
70,70,Mughal-E-Azam,1960,8.1
71,71,Jo Jeeta Wohi Sikandar,1992,8.1
72,72,Udaan,2010,8.1
73,73,Ustad Hotel,2012,8.1
74,74,Zindagi Na Milegi Dobara,2011,8.1
75,75,A Wednesday,2008,8.1
76,76,Article 15,2019,8.1
77,77,Queen,2013,8.1
78,78,Rang De Basanti,2006,8.1
79,79,Munna Bhai M.B.B.S.,2003,8.1
80,80,Dil Chahta Hai,2001,8.1
81,81,Sarfarosh,1999,8.1
82,82,Maheshinte Prathikaaram,2016,8.1
83,83,Masaan,2015,8.1
84,84,OMG: Oh My God!,2012,8.1
85,85,Andaz Apna Apna,1994,8.1
86,86,Roja,1992,8.1
87,87,Alai Payuthey,2000,8.1
88,88,Lagaan: Once Upon a Time in India,2001,8.1
89,89,Baasha,1995,8.1
90,90,Theeran adhigaaram ondru,2017,8.1
91,91,Kahaani,2012,8.1
92,92,PK,2014,8.1
93,93,Lucia,2013,8.1
94,94,Iqbal,2005,8.1
95,95,Uri: The Surgical Strike,2018,8.1
96,96,The Legend of Bhagat Singh,2002,8.1
97,97,Barfi!,2012,8.0
98,98,Pink,2016,8.0
99,99,Bommarillu,2006,8.0
100,100,Bombay,1995,8.0
101,101,Maqbool,2003,8.0
102,102,Omkara,2006,8.0
103,103,Section 375,2019,8.0
104,104,Lage Raho Munna Bhai,2006,8.0
105,105,Chhichhore,2019,8.0
106,106,Indian,1996,8.0
107,107,Deewaar,1975,8.0
108,108,Baahubali 2: The Conclusion,2017,8.0
109,109,Dilwale Dulhania Le Jayenge,1995,8.0
110,110,Gulaal,2009,8.0
111,111,Padosan,1968,8.0
112,112,Pelli Choopulu,2016,8.0
113,113,Haider,2014,8.0
114,114,Naduvula Konjam Pakkatha Kaanom,2012,8.0
115,115,Athadu,2005,8.0
116,116,Mother India,1957,8.0
117,117,Ugly,2013,8.0
118,118,Thadam,2019,8.0
119,119,Take Off,2017,8.0
120,120,Gully Boy,2019,8.0
121,121,Padayappa,1999,8.0
122,122,Rangasthalam,2018,8.0
123,123,Special Chabbis,2013,7.9
124,124,Ship of Theseus,2012,7.9
125,125,Dev.D,2009,7.9
126,126,Aadukalam,2011,7.9
127,127,Badhaai ho,2018,7.9
128,128,Jalsaghar,1958,7.9
129,129,Ulidavaru Kandanthe,2014,7.9
130,130,Bajrangi Bhaijaan,2015,7.9
131,131,Vaastav: The Reality,1999,7.9
132,132,Vedam,2010,7.9
133,133,Vaaranam Aayiram,2008,7.9
134,134,Ankhon Dekhi,2013,7.9
135,135,Company,2002,7.9
136,136,Arjun Reddy,2017,7.9
137,137,Mukkabaaz,2017,7.9
138,138,K.G.F: Chapter 1,2018,7.9
139,139,Manjhi: The Mountain Man,2015,7.9
140,140,Pizza,2012,7.9
141,141,My Name Is Khan,2010,7.9
142,142,Kal Ho Naa Ho,2003,7.9
143,143,Jab We Met,2007,7.9
144,144,Mumbai Police,2013,7.9
145,145,Memories,2013,7.9
146,146,Angamaly Diaries,2017,7.8
147,147,Dil Bechara,2020,7.8
148,148,Unnaipol Oruvan,2009,7.8
149,149,Border,1997,7.8
150,150,Padman,2018,7.8
151,151,Charlie,2015,7.8
152,152,Lakshya,2004,7.8
153,153,Dor,2006,7.8
154,154,Kaakha..Kaakha: The Police,2003,7.8
155,155,Super 30,2019,7.8
156,156,Vettaiyaadu Vilaiyaadu,2006,7.8
157,157,Bãhubali: The Beginning,2015,7.8
158,158,Airlift,2016,7.8
159,159,Baby,2015,7.8
160,160,Hey Ram,2000,7.8
161,161,English Vinglish,2012,7.8
162,162,Karnan,2021,7.8
163,163,Okkadu,2003,7.8
164,164,Gangaajal,2003,7.8
165,165,Hindi Medium,2017,7.8
166,166,Manam,2014,7.8
167,167,The Lunchbox,2013,7.8
168,168,Johnny Gaddaar,2007,7.8
169,169,Ab Tak Chhappan,2004,7.8
170,170,Secret Superstar,2017,7.8
171,171,Badla,2019,7.8
172,172,Sonchiriya,2019,7.7
173,173,Pokiri,2006,7.7
174,174,Mr. India,1987,7.7
175,175,Nayak: The Real Hero,2001,7.7
176,176,Vicky Donor,2012,7.7
177,177,Raazi,2018,7.7
178,178,Udta Punjab,2016,7.7
179,179,Don,1978,7.7
180,180,Stanley Ka Dabba,2011,7.7
181,181,RangiTaranga,2015,7.7
182,182,Rock On!!,2008,7.7
183,183,Veer-Zaara,2004,7.7
184,184,Dasvidaniya,2008,7.7
185,185,Aligarh,2015,7.7
186,186,Guru,2007,7.7
187,187,Ko,2011,7.7
188,188,Samsara,2001,7.7
189,189,Goodachari,2018,7.7
190,190,Arya,2004,7.7
191,191,Velaiilla Pattadhari,2014,7.7
192,192,M.S. Dhoni: The Untold Story,2016,7.7
193,193,Oye Lucky! Lucky Oye!,2008,7.7
194,194,Mumbai Meri Jaan,2008,7.7
195,195,Kai po che!,2013,7.7
196,196,Rockstar,2011,7.6
197,197,Kapoor & Sons,2016,7.6
198,198,Eega,2012,7.6
199,199,Kabhi Haan Kabhi Naa,1994,7.6
200,200,Darr,1993,7.6
201,201,Newton,2017,7.6
202,202,24,2016,7.6
203,203,Aamir,2008,7.6
204,204,Ugramm,2014,7.6
205,205,Avane Srimannarayana,2019,7.6
206,206,Earth,1998,7.6
207,207,Agneepath,1990,7.6
208,208,Madras Cafe,2013,7.6
209,209,Sarkar,2005,7.6
210,210,Pyaar Ka Punchnama,2011,7.6
211,211,Neerja,2016,7.6
212,212,The Tashkent Files,2019,7.6
213,213,Bheja Fry,2007,7.6
214,214,Thuppakki,2012,7.6
215,215,Highway,2014,7.6
216,216,Detective Byomkesh Bakshy!,2015,7.6
217,217,Magadheera,2009,7.6
218,218,Baazigar,1993,7.6
219,219,Kaththi,2014,7.6
220,220,Manorama: Six Feet Under,2007,7.6
221,221,Tanu Weds Manu Returns,2015,7.6
222,222,Saala Khadoos,2016,7.6
223,223,Wake Up Sid,2009,7.6
224,224,Piku,2015,7.6
225,225,1 - Nenokkadine,2014,7.6
226,226,Kannum Kannum Kollaiyadithaal,2020,7.6
227,227,Kuch Kuch Hota Hai,1998,7.5
228,228,Sanju,2018,7.5
229,229,Dhruva,2016,7.5
230,230,Delhi Belly,2011,7.5
231,231,Jodhaa Akbar,2008,7.5
232,232,Ludo,2020,7.5
233,233,Nerkonda Paarvai,2019,7.5
234,234,Devdas,2002,7.5
235,235,Parmanu: The Story of Pokhran,2018,7.5
236,236,Stree,2018,7.5
237,237,Trapped,2016,7.5
238,238,Geetha Govindam,2018,7.5
239,239,Raanjhanaa,2013,7.5
240,240,Dil Se..,1998,7.5
241,241,Ek Hasina Thi,2004,7.5
242,242,Hungama,2003,7.5
243,243,Lootcase,2020,7.5
244,244,Bhavesh Joshi Superhero,2018,7.5
245,245,Rocket Singh: Salesman of the Year,2009,7.5
246,246,Rehnaa Hai Terre Dil Mein,2001,7.5
247,247,Jolly LLB,2013,7.5
248,248,Madaari,2016,7.5
249,249,The Ghazi Attack,2017,7.5

The above csv file shows the top 100 Indian movies according to IMDb ratings.

<br><br><br>

# 4. Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [32]:
page4= requests.get("https://bookpage.com/reviews")
page4

In [120]:
s4=BeautifulSoup(page4.content)

In [35]:
book_name=[]
author_name=[]
genre=[]
review=[]

In [36]:
book_data = s4.findAll('div', {"class": "flex-article-content" })

In [37]:
for store in book_data:
    book = store.find('h4', class_="italic").a.text.replace('★', '')
    book_name.append(book)
    
    author = store.find('p', class_ = 'sans bold').text.replace('\n', '')
    author_name.append(author)
    
    genre_name = store.find('p', class_ = 'genre-links hidden-phone').a.text.replace('\n', '')
    genre.append(genre_name)
    
    book_review=store.find('p', class_ = 'excerpt').text.replace('\n', '')
    review.append(book_review)

In [38]:
book_df = pd.DataFrame({'Book Name': book_name, 'Author': author_name, 'Genre': genre, 'Review': review})

In [39]:
pd.set_option('display.max_rows', None)
pd.options.display.max_colwidth = 500

In [40]:
book_df = book_df.drop([0,2], axis=0)

In [41]:
new_book_df= book_df.reset_index(drop=True)

In [42]:
new_book_df1=new_book_df[2:7]

In [43]:
new_book_df1= new_book_df[2:7].reset_index(drop=True)
new_book_df1

,Book Name,Author,Genre,Review
0,The Most Beautiful Girl in Cuba,Chanel Cleeton,Fiction,"Chanel Cleeton delivers a sweeping story of love and courage, as well as a sobering reminder of the power and responsibility of the media."
1,Why Peacocks?,Sean Flynn,Nonfiction,"Have you ever thought, What my household needs is a few peacocks? Me neither. But that didn’t stop me from enjoying this entertaining, sweet and often funny book."
2,The Last Thing He Told Me,Laura Dave,Fiction,Laura Dave has given us what we crave right now—a thoroughly engrossing yet comforting distraction.
3,The Secret History of Home Economics,Danielle Dreilinger,Nonfiction,"Whatever stereotypes we associate with home economics, Danielle Dreilinger is here to assure us that everything we think we know is wrong."
4,Little and Often,Trent Preszler,Nonfiction,"This lucid, lyrical memoir recalls father-son episodes in South Dakota, with its biblical weather, rattlesnakes, long horseback rides and rodeos."

The above 'new_book_df1' dataframe shows the details of five books.

<br><br><br>

# 5. Python program to scrape cricket rankings from ‘www.icc-cricket.com’

### <br>i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [44]:
pg_5= requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
pg_5

In [121]:
s5=BeautifulSoup(pg_5.content)

In [122]:
table=s5.find('table', {'class': 'table'})

In [123]:
headers=[]

In [124]:
for i in table.find_all('th'):
    title=i.text.strip().replace("\n", " ")
    headers.append(title)

In [125]:
import pandas as pd

In [126]:
df1=pd.DataFrame(columns=headers)
for row in table.find_all('tr')[1:]:
    data=row.find_all('td')
    row_data=[td.text.replace("\n", " ") for td in data]
    length=len(df1)
    df1.loc[length]=row_data

In [127]:
df1.head(10)

,Pos,Team T,Matches M,Points P,Rating R
0,1,New Zealand NZ,17,"2,054",121
1,2,Australia AUS,25,"2,945",118
2,3,India IND,29,"3,344",115
3,4,England ENG,27,"3,100",115
4,5,South Africa SA,20,"2,137",107
5,6,Pakistan PAK,24,"2,323",97
6,7,Bangladesh BAN,24,"2,157",90
7,8,West Indies WI,27,"2,222",82
8,9,Sri Lanka SL,21,"1,652",79
9,10,Afghanistan AFG,17,"1,054",62

The above is the dataset showing top 10 ODI teams(Men's).

<br>

### ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [53]:
pg52= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
pg52

In [128]:
soup52=BeautifulSoup(pg52.content)

In [55]:
table52=soup52.find('table', {'class': 'table rankings-table'})

In [56]:
headers52=[]

In [57]:
for i in table52.find_all('th'):
    title52=i.text.strip().replace("\n", " ")
    headers52.append(title52)

In [58]:
DF52=pd.DataFrame(columns=headers52)
for row in table52.find_all('tr')[1:]:
    data52=row.find_all('td')
    row_data52=[td.text.replace("\n", " ") for td in data52]
    length52=len(DF52)
    DF52.loc[length52]=row_data52

In [59]:
DF52.head(10)

,Pos,Player,Team,Rating,Career Best Rating
0,1,Babar Azam,PAK,865,"865 v South Africa, 07/04/2021"
1,2 This player has moved down in the rankings since the previous rankings update,Virat Kohli,IND,857,"911 v England, 12/07/2018"
2,3,Rohit Sharma,IND,825,"885 v Sri Lanka, 06/07/2019"
3,4,Ross Taylor,NZ,801,"841 v Bangladesh, 05/06/2019"
4,5,Aaron Finch,AUS,791,"798 v England, 25/06/2019"
5,6,Jonny Bairstow,ENG,785,"796 v India, 26/03/2021"
6,7 This player has moved up in the rankings since the previous rankings update,Fakhar Zaman,PAK,778,"778 v South Africa, 07/04/2021"
7,This player has moved down in the rankings since the previous rankings update,Francois du Plessis,SA,778,"820 v Australia, 06/07/2019"
8,9 This player has moved down in the rankings since the previous rankings update,David Warner,AUS,773,"880 v Pakistan, 26/01/2017"
9,This player has moved down in the rankings since the previous rankings update,Shai Hope,WI,773,"808 v Bangladesh, 17/05/2019"

The above dataframe 'DF52' shows the top 10 ODI(Men) batsmen.

<br>

### iii)Top 10 ODI bowlers along with the records of their team and rating.

In [60]:
pg53= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
pg53

In [129]:
s_53=BeautifulSoup(pg53.content)

In [62]:
table53=s_53.find('table', {'class': 'table rankings-table'})

In [63]:
headers53=[]

In [64]:
for i in table53.find_all('th'):
    title53=i.text.strip().replace("\n", " ")
    headers53.append(title53)

In [65]:
bowlers_df=pd.DataFrame(columns=headers53)
for row1 in table53.find_all('tr')[1:]:
    data53=row1.find_all('td')
    row_data53=[td.text.replace("\n", " ") for td in data53]
    length53=len(bowlers_df)
    bowlers_df.loc[length53]=row_data53

In [66]:
bowlers_df.head(10)

,Pos,Player,Team,Rating,Career Best Rating
0,1,Trent Boult,NZ,737,"770 v West Indies, 22/06/2019"
1,2,Mujeeb Ur Rahman,AFG,708,"712 v Ireland, 24/01/2021"
2,3,Matt Henry,NZ,691,"691 v Bangladesh, 26/03/2021"
3,4,Jasprit Bumrah,IND,690,"841 v West Indies, 01/11/2018"
4,5 This player has moved up in the rankings since the previous rankings update,Mehedi Hasan,BAN,668,"694 v West Indies, 25/01/2021"
5,6 This player has moved down in the rankings since the previous rankings update,Kagiso Rabada,SA,666,"724 v England, 29/05/2017"
6,7,Chris Woakes,ENG,665,"676 v New Zealand, 14/07/2019"
7,8,Josh Hazlewood,AUS,660,"733 v England, 26/01/2018"
8,9,Pat Cummins,AUS,646,"729 v Pakistan, 12/06/2019"
9,10,Mohammad Amir,PAK,638,"663 v Sri Lanka, 02/10/2019"

The above dataframe 'bowlers_df' shows the top 10 ODI(Men) bowlers.

<br><br><br>

# 6. python program to scrape cricket rankings from ‘www.icc-cricket.com’

### <br> i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [67]:
page6= requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
page6

In [130]:
s6=BeautifulSoup(page6.content)

In [69]:
table6=s6.find('table', {'class': 'table'})

In [70]:
headers6=[]

In [71]:
for i in table6.find_all('th'):
    title6=i.text.strip().replace("\n", " ")
    headers6.append(title6)

In [72]:
df6=pd.DataFrame(columns=headers6)
for row in table6.find_all('tr')[1:]:
    data6=row.find_all('td')
    row_data6=[td.text.replace("\n", " ") for td in data6]
    length6=len(df6)
    df6.loc[length6]=row_data6

In [73]:
df6

,Pos,Team T,Matches M,Points P,Rating R
0,1,Australia AUS,18,"2,955",164
1,2,South Africa SA,24,"2,828",118
2,3,England ENG,17,"1,993",117
3,4,India IND,20,"2,226",111
4,5,New Zealand NZ,21,"1,947",93
5,6,West Indies WI,12,"1,025",85
6,7,Pakistan PAK,15,"1,101",73
7,8,Bangladesh BAN,5,306,61
8,9,Sri Lanka SL,11,519,47
9,10,Ireland IRE,2,25,13

The above is the dataset showing top 10 ODI teams(Women's).

<br>

### ii) Top 10 women’s ODI players along with the records of their team and rating.

In [74]:
pg62= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
pg62

In [131]:
soup62=BeautifulSoup(pg62.content)

In [77]:
table62=soup62.find('table', {'class': 'table rankings-table'})

In [78]:
headers62=[]

In [79]:
for i in table62.find_all('th'):
    title62=i.text.strip().replace("\n", " ")
    headers62.append(title62)

In [80]:
DF62=pd.DataFrame(columns=headers62)
for row in table62.find_all('tr')[1:]:
    data62=row.find_all('td')
    row_data62=[td.text.replace("\n", " ") for td in data62]
    length62=len(DF62)
    DF62.loc[length62]=row_data62

In [81]:
DF62.head(10)

,Pos,Player,Team,Rating,Career Best Rating
0,1,Tammy Beaumont,ENG,765,"765 v New Zealand, 28/02/2021"
1,2,Lizelle Lee,SA,758,"773 v India, 14/03/2021"
2,3,Alyssa Healy,AUS,756,"756 v New Zealand, 10/04/2021"
3,4,Stafanie Taylor,WI,746,"765 v India, 02/03/2012"
4,5,Meg Lanning,AUS,723,"834 v New Zealand, 24/02/2016"
5,6,Amy Satterthwaite,NZ,715,"756 v Australia, 02/03/2017"
6,7,Smriti Mandhana,IND,710,"797 v England, 28/02/2019"
7,8,Mithali Raj,IND,709,"839 v Australia, 24/12/2004"
8,9 This player has moved up in the rankings since the previous rankings update,Natalie Sciver,ENG,685,"712 v India, 25/02/2019"
9,10 This player has moved up in the rankings since the previous rankings update,Laura Wolvaardt,SA,683,"725 v India, 07/03/2021"

The above dataframe 'DF62' shows the top 10 ODI(Women) batsmen.

<br>

### iii)Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [82]:
pg63= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
pg63

In [132]:
s_63=BeautifulSoup(pg63.content)

In [84]:
table63=s_63.find('table', {'class': 'table rankings-table'})

In [85]:
headers63=[]

In [86]:
for i in table63.find_all('th'):
    title63=i.text.strip().replace("\n", " ")
    headers63.append(title63)

In [87]:
allrounders_df=pd.DataFrame(columns=headers63)
for row1 in table63.find_all('tr')[1:]:
    data63=row1.find_all('td')
    row_data63=[td.text.replace("\n", " ") for td in data63]
    length63=len(allrounders_df)
    allrounders_df.loc[length63]=row_data63

In [88]:
allrounders_df.head(10)

,Pos,Player,Team,Rating,Career Best Rating
0,1,Marizanne Kapp,SA,418,"418 v India, 17/03/2021"
1,This player has moved down in the rankings since the previous rankings update,Ellyse Perry,AUS,418,"548 v West Indies, 11/09/2019"
2,3,Stafanie Taylor,WI,410,"559 v New Zealand, 10/10/2013"
3,4,Natalie Sciver,ENG,349,"349 v New Zealand, 28/02/2021"
4,5,Deepti Sharma,IND,343,"397 v South Africa, 09/10/2019"
5,6,Jess Jonassen,AUS,307,"308 v West Indies, 11/09/2019"
6,7,Ashleigh Gardner,AUS,252,"256 v New Zealand, 04/04/2021"
7,8 This player has moved up in the rankings since the previous rankings update,Dane van Niekerk,SA,243,"421 v Sri Lanka, 11/02/2019"
8,9 This player has moved down in the rankings since the previous rankings update,Sophie Devine,NZ,242,"305 v Australia, 05/10/2020"
9,10 This player has moved down in the rankings since the previous rankings update,Amelia Kerr,NZ,236,"247 v Australia, 07/04/2021"

The above dataframe 'allrounders_df' shows the top 10 ODI(Women) allrounders.

<br><br><br>

# 7. Python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data includes Product Name, Price, Image URL and Average Rating.

In [90]:
page7= requests.get("https://www.amazon.in/Smartphones-Under-%E2%82%B920-000-Basic-Mobiles/s?rh=n%3A1805560031%2Cp_36%3A-2000000")
page7

In [133]:
s7=BeautifulSoup(page7.content)

In [92]:
product_name=[]
item_price=[]
img_url=[]
avg_rating=[]

In [93]:
phone_data = s7.findAll('div', {"class": "a-section a-spacing-medium" })

In [94]:
for store in phone_data:
    name = store.find('span', class_="a-size-base-plus a-color-base a-text-normal").get_text()
    product_name.append(name)
    
    price = store.find('span', class_ = 'a-price-whole').get_text()
    item_price.append(price)

In [95]:
img_url=[]
img=s7.find_all('img', class_='s-image')
for i in img:
    img_url.append(i.get('src'))

In [96]:
for x in s7.find_all('span', class_= 'a-icon-alt'):
    avg_rating.append(x.text)

In [97]:
new_avg_rating=avg_rating[0:24]

In [98]:
print(len(item_price), len(img_url), len(new_avg_rating), len(product_name)  )

24 24 24 24

In [99]:
phone_df = pd.DataFrame({'Product Name': product_name, 'Price(in Rs.)': item_price, 'Phone Image URL': img_url, 'Rating':new_avg_rating })

In [100]:
phone_df

,Product Name,Price(in Rs.),Phone Image URL,Rating
0,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor","8,799",https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UL320_.jpg,4.2 out of 5 stars
1,"Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)","14,999",https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UL320_.jpg,4.3 out of 5 stars
2,"Samsung Galaxy M31 (Space Black, 6GB RAM, 128GB Storage)","14,999",https://m.media-amazon.com/images/I/71OxJeyywSL._AC_UL320_.jpg,4.3 out of 5 stars
3,"Redmi Note 10 (Shadow Black, 4GB RAM, 64GB Storage) - Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor","12,499",https://m.media-amazon.com/images/I/71QY6JV6FhS._AC_UL320_.jpg,4.1 out of 5 stars
4,"Redmi 9A (Nature Green, 2GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor","6,799",https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UL320_.jpg,4.2 out of 5 stars
5,"Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) | 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor","8,799",https://m.media-amazon.com/images/I/716nHhG9SWL._AC_UL320_.jpg,4.2 out of 5 stars
6,"Redmi 9 (Sporty Orange, 4GB RAM, 64GB Storage) | 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor","8,499",https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UL320_.jpg,4.2 out of 5 stars
7,"Redmi Note 10 (Aqua Green, 4GB RAM, 64GB Storage)","12,499",https://m.media-amazon.com/images/I/71OGzLCrjZS._AC_UL320_.jpg,4.1 out of 5 stars
8,"Redmi Note 10 (Aqua Green, 6GB RAM, 128GB Storage) - Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor","14,499",https://m.media-amazon.com/images/I/71Kmfs0T0BL._AC_UL320_.jpg,4.1 out of 5 stars
9,"Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate","10,999",https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UL320_.jpg,4.0 out of 5 stars
10,"Redmi Note 10 (Frost White, 4GB RAM, 64GB Storage) - Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor","12,499",https://m.media-amazon.com/images/I/71SSmaLA7xS._AC_UL320_.jpg,4.1 out of 5 stars
11,"Redmi Note 10 (Shadow Black, 6GB RAM, 128GB Storage)","14,499",https://m.media-amazon.com/images/I/71IqJQM2stL._AC_UL320_.jpg,4.1 out of 5 stars
12,"Redmi 9A (Midnight Black, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor","6,799",https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UL320_.jpg,4.2 out of 5 stars
13,"Redmi 9A (Sea Blue, 2GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor","6,799",https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UL320_.jpg,4.2 out of 5 stars
14,"Redmi 9 Power (Blazing Blue, 4GB RAM, 64GB Storage) - 6000mAh Battery |FHD+ Screen| 48MP Quad Camera","10,499",https://m.media-amazon.com/images/I/71hEzQGO5qL._AC_UL320_.jpg,4.2 out of 5 stars
15,"Redmi Note 9 Pro (Interstellar Black, 4GB RAM, 64GB Storage)- Latest 8nm Snapdragon 720G & Alexa Hands-Free","12,999",https://m.media-amazon.com/images/I/81fwKtv0VHL._AC_UL320_.jpg,4.2 out of 5 stars
16,"Samsung Galaxy M12 (Black,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate","10,999",https://m.media-amazon.com/images/I/714QWDxXgNL._AC_UL320_.jpg,4.0 out of 5 stars
17,"Samsung Galaxy M31s (Mirage Blue, 6GB RAM, 128GB Storage)","18,499",https://m.media-amazon.com/images/I/61d-phh4GfL._AC_UL320_.jpg,4.3 out of 5 stars
18,"Oppo A31 (Mystery Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers","11,990",https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UL320_.jpg,4.2 out of 5 stars
19,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers","11,990",https://m.media-amazon.com/images/I/61IhTtJUXJL._AC_UL320_.jpg,4.2 out of 5 stars
20,"Samsung Galaxy M31 (Iceberg Blue, 6GB RAM, 128GB Storage)","14,999",https://m.media-amazon.com/images/I/71ZsMOcpePL._AC_UL320_.jpg,4.3 out of 5 stars
21,"Redmi Note 9 Pro (Glacier White, 4GB RAM, 64GB Storage) - Latest 8nm Snapdragon 720G &Alexa Hands-Free Capable","12,999",https://m.media-amazon.com/images/I/81fwKtv0VHL._AC_UL320_.jpg,4.2 out of 5 stars
22,"Samsung Galaxy M12 (Blue,6GB RAM, 128GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate","13,499",https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UL320_.jpg,4.0 out of 5 stars
23,"Redmi Note 9 (Aqua Green, 4GB RAM, 64GB Storage) - 48MP Quad Camera & Full HD+ Display","10,999",https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UL320_.jpg,4.3 out of 5 stars

The above dataframe 'phone_df' shows the details of the phoness below Rs. 20,000 on Amazon.in

<br><br><br>

# 8. Python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, SanFrancisco. Extracting data about 7 day extended forecast display for the city. This data includes period, short description, temperature and description.

In [102]:
page8= requests.get("https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YJbbTbUzbIU")
page8

In [134]:
s8=BeautifulSoup(page8.content)

In [105]:
period=[]
short_description=[]
temp_hl=[]

In [106]:
week = s8.find('div', {'id' : "seven-day-forecast-container"} )

In [107]:
for item in week:
    day_time =item.find_all('p', class_='period-name')
    for i in day_time:
        period.append(i.text.replace('\n', " "))
period

['Overnight',
 'Sunday',
 'SundayNight',
 'Monday',
 'MondayNight',
 'Tuesday',
 'TuesdayNight',
 'Wednesday',
 'WednesdayNight']

In [108]:
for item in week:
    short_desc =item.find_all('p', class_='short-desc')
    for i in short_desc:
        short_description.append(i.text.replace('\n', " "))
short_description

['Clear',
 'Sunny',
 'Mostly Clear',
 'Sunny',
 'Clear',
 'Sunny',
 'Mostly Clear',
 'Sunny',
 'Partly Cloudy']

In [109]:
for item in week:
    temp =item.find_all('p', class_='temp')
    for i in temp:
        temp_hl.append(i.text.replace('\n', " "))
temp_hl

['Low: 53 °F',
 'High: 72 °F',
 'Low: 53 °F',
 'High: 75 °F',
 'Low: 52 °F',
 'High: 72 °F',
 'Low: 51 °F',
 'High: 70 °F',
 'Low: 51 °F']

In [110]:
forecast=s8.find('div', class_="panel-body")

In [111]:
forecast_details=[] 
detailed_weather= s8.find_all(class_ = 'col-sm-10')
for k in detailed_weather:
    forecast_details.append(k.text.replace('\n', " "))

In [112]:
forecast_details

['Clear, with a low around 53. West wind around 7 mph. ',
 'Sunny, with a high near 72. West wind 7 to 15 mph, with gusts as high as 20 mph. ',
 'Mostly clear, with a low around 53. West wind 6 to 14 mph, with gusts as high as 18 mph. ',
 'Sunny, with a high near 75. Light west northwest wind becoming west 10 to 15 mph in the afternoon. Winds could gust as high as 20 mph. ',
 'Clear, with a low around 52. West wind 5 to 14 mph. ',
 'Sunny, with a high near 72.',
 'Mostly clear, with a low around 51.',
 'Sunny, with a high near 70.',
 'Partly cloudy, with a low around 51.',
 'Mostly sunny, with a high near 66.',
 'Partly cloudy, with a low around 50.',
 'Mostly sunny, with a high near 66.',
 'Partly cloudy, with a low around 51.',
 'Sunny, with a high near 66.']

In [113]:
weather_df = pd.DataFrame({'Period': period, 'Short Description': short_description, 'Temperature': temp_hl, 'Detailed Forecast':forecast_details[0:9] })

In [114]:
weather_df

,Period,Short Description,Temperature,Detailed Forecast
0,Overnight,Clear,Low: 53 °F,"Clear, with a low around 53. West wind around 7 mph."
1,Sunday,Sunny,High: 72 °F,"Sunny, with a high near 72. West wind 7 to 15 mph, with gusts as high as 20 mph."
2,SundayNight,Mostly Clear,Low: 53 °F,"Mostly clear, with a low around 53. West wind 6 to 14 mph, with gusts as high as 18 mph."
3,Monday,Sunny,High: 75 °F,"Sunny, with a high near 75. Light west northwest wind becoming west 10 to 15 mph in the afternoon. Winds could gust as high as 20 mph."
4,MondayNight,Clear,Low: 52 °F,"Clear, with a low around 52. West wind 5 to 14 mph."
5,Tuesday,Sunny,High: 72 °F,"Sunny, with a high near 72."
6,TuesdayNight,Mostly Clear,Low: 51 °F,"Mostly clear, with a low around 51."
7,Wednesday,Sunny,High: 70 °F,"Sunny, with a high near 70."
8,WednesdayNight,Partly Cloudy,Low: 51 °F,"Partly cloudy, with a low around 51."

The above dataframe 'weather_df' shows the weather forecast with period, short description, temperature and detailed Forecast.